@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: #cfeae8;
}

.hero {
  background: linear-gradient(
    134deg,
    #0e988e 0%,
    rgba(13, 137, 128, 0.64) 54.18%,
    rgba(83, 124, 228, 0) 100%
  );
}

.maxWidth {
  width: 90rem;
  margin: 0 auto;
}
